# =========================
# ENV FILES
# =========================
.env
.env.*
.venv/
.venv-1/
.venv-2/

# =========================
# FRONTEND NODE MODULES
# =========================
app/frontend/node_modules/
node_modules/

# =========================
# BACKUP / SYSTEM (opcional mas recomendado)
# =========================
.DS_Store
Thumbs.db

# =========================
# PYTHON CACHE (recomendado manter)
# =========================
__pycache__/
*.pyc